<html>
<head>
{% set _v = 26 %}
{% block title %}<title>Packet UI</title>{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% include '_lib.html' %}
<link rel="stylesheet" href="{{to_root}}packet-ui-bundle.css?v={{_v}}">
<script defer src="{{to_root}}packet-ui.js?v={{_v}}"></script>
<link rel="stylesheet" href="{{to_root}}base.css?v={{_v}}">
<script defer src="{{to_root}}base.js?v={{_v}}"></script>
{% block head %}
{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}

{% block sidebar %}
{% endblock %}
</body>
</html>
