@forward '../src/_theme.scss' with (
    $pallete: (
        color-primary: #FFC107,
        saturate: 0%,
        hue-distance: 30,
    ),
    $ui: (
        ui-color: #FFC107,
        border-radius: 4px,
    ),
);