@use 'sass:map';
@use 'sass:color'as clr;

$color: () !default;
$pallete: (
    color-primary: #2196F3,
    hue-distance: 20,
) !default;
$ui: () !default;

$-color: (red: #F44336,
    pink: #E91E63,
    purple: #9C27B0,
    deep-purple: #673AB7,
    indigo: #3F51B5,
    blue: #2196F3,
    light-blue: #03A9F4,
    cyan: #00BCD4,
    teal: #009688,
    green: #4CAF50,
    light-green: #8BC34A,
    lime: #CDDC39,
    yellow: #FFEB3B,
    amber: #FFC107,
    orange: #FF9800,
    deep-orange: #FF5722,
    brown: #795548,
    grey: #9E9E9E,
    blue-grey: #607D8B,
    blue-gray: #607D8B,
);

$color: map.merge($-color, $color);

$-pallete: (color-primary: map.get($color, amber),
    saturate: 0%,
    hue-distance: 30,
);

$pallete: map.merge($-pallete, $pallete);

$-ui: (ui-color: map.get($color, amber),
    border-radius: 4px,
    font-family: packet-ui,
);

$ui: map.merge($-ui, $ui);

$-color-primary: map.get($pallete, color-primary);
$-saturate: map.get($pallete, saturate);
$-hue-distance: map.get($pallete, hue-distance);

$pallete: (color-primary: map.get($pallete, color-primary),
    color-complement: clr.adjust($-color-primary,
        $hue: 180,
        $saturation: $-saturate),
    color-primary-left: clr.adjust($-color-primary,
        $hue: -($-hue-distance),
        $saturation: $-saturate),
    color-primary-right: clr.adjust($-color-primary,
        $hue: $-hue-distance,
        $saturation: $-saturate),
    color-complement-left: clr.adjust($-color-primary,
        $hue: 180 - ($-hue-distance),
        $saturation: $-saturate),
    color-complement-right: clr.adjust($-color-primary,
        $hue: 180 + ($-hue-distance),
        $saturation: $-saturate));

$pallete: map.merge($pallete, (color-p: map.get($pallete, color-primary),
        color-c: map.get($pallete, color-complement),
        color-p1: map.get($pallete, color-primary-left),
        color-p2: map.get($pallete, color-primary-right),
        color-c1: map.get($pallete, color-complement-left),
        color-c2: map.get($pallete, color-complement-right)));

@function color($name) {
    @return map.get($color, $name);
}

;

@function pallete($name) {
    @return map.get($pallete, $name);
}

;

@function ui($name) {
    @return map.get($ui, $name);
}

;