@use '_theme.scss';
@use 'sass:color';
@use 'sass:map';
@use '../node_modules/highlight.js/styles/atom-one-dark.css';

@font-face {
  font-family: 'packet-ui';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./lib/packet-ui/dist/font/Cantarell/Cantarell-Regular.ttf') format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'fira-sans';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans Regular'), local('FiraSans-Regular'),
        url('./lib/packet-ui/fonts/Fira-Sans/FiraSans-Regular.ttf');
}

html {
    font-family: fira-sans;
    font-size: 18px;
}

a { color: inherit; }

img { width: 100%; }

.container {
    max-width: 800px;
    width: 90%;
    margin: auto;

    > h1 {
        text-align: center;
        padding-top: 1rem;
        margin-bottom: 0;
    }

    > h2 {
        margin-top: 2rem;
        margin-bottom: 0;
    }
}

.row {
    width: 100%;
}

code {
    background-color: #282c34;
    color: color.adjust(white, $lightness: -10%);
    border-radius: 4px;
    vertical-align: middle;
}

code.hljs {
    border-radius: 5px;
}

blockquote {
    background: color.adjust(
        theme.pallete(p), $lightness: 35%
    );
    p {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
    pkt-icon {
        color: theme.pallete(a1);
    }
}

#sidebar-button {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    font-size: 1.25rem;
    z-index: 100;
}