@use '_var';
@use '_mixin';
@use 'sass:color';
@use 'sass:map';
@use '../node_modules/normalize.css/normalize.css';
@use '../src/packet-ui.scss';
@use '../node_modules/highlight.js/styles/atom-one-dark.css';

@font-face {
    font-family: 'fira-sans';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans Regular'), local('FiraSans-Regular'),
        url(./_static/fonts/FiraSans-Regular.ttf);
}

@font-face {
    /* Set UI font, Cantarell is recommended */
    font-family: 'packet-ui';
    font-style: normal;
    font-weight: 400;
    src: local('Cantarell Regular'), local('Cantarell-Regular'),
        url(./_static/fonts/Cantarell-Regular.ttf);
}

html {
    font-family: fira-sans;
    font-size: 18px;
}

a { color: inherit; }

img { width: 100%; }

.container {
    max-width: 800px;
    width: 90%;
    margin: auto;

    > h1 {
        text-align: center;
        padding-top: 1rem;
        margin-bottom: 0;
    }

    > h2 {
        margin-top: 2rem;
        margin-bottom: 0;
    }
}

.row {
    width: 100%;
}

code {
    background-color: #282c34;
    color: color.adjust(white, $lightness: -10%);
    border-radius: 4px;
    vertical-align: middle;
}

code.hljs {
    border-radius: 5px;
}

blockquote {
    background: color.adjust(
        map.get(var.$scheme, color-p), $lightness: 35%
    );
    p {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
    pkt-icon {
        color: map.get(var.$scheme, color-a1);
    }
}

#sidebar-button {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    font-size: 1.25rem;
    z-index: 100;
}