@use 'sass:color';
@use '_mixin.scss';
@use '_theme.scss';
@use '_theme-alt.scss';
@use '../src/_function.scss';

#highlight {
    .container {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
        pkt-tag {
            h1 {
                line-height: 1;
                margin: 0.5rem;
            }
        }
        p {
            text-align: center;
        }
        a.button {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
        a[el="github"] {
            @include mixin.bg-int-color($bg-color: color.adjust(white, $lightness: -10%));
        }
    }
}

h2 {
    margin-top: 2rem;
    text-align: center;
}

#features {
    h3 {
        margin: 0;
    }
    [el="bg-color"] {
        font-size: 1.2rem;
        text-align: center;
        max-width: 300px;
        margin: auto;
        pkt-badge {
            padding-left: 0.4rem;
            padding-right: 0.4rem;
        }
    }
    pkt-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: 300px;
        margin: auto;
        margin-top: 2rem;
        background-color: #f2f2f2;
        table {
            max-width: 280px;
            width: 100%;
            tr {
                background-color: #f2f2f2;
            }
            td {
                text-align: center;
            }
        }
    }
}


#theme-alt {
    button {
        width: 4rem;
        height: 2rem;
    }
    button.bg-a1 {
        @include mixin.bg-int-color(
            $bg-color: theme-alt.pallete('color-a1')
        );
    };
    button.bg-p {
        @include mixin.bg-int-color(
            $bg-color: theme-alt.pallete('color-p')
        );
    };
    button.bg-a2 {
        @include mixin.bg-int-color(
            $bg-color: theme-alt.pallete('color-a2')
        );
    };
    button.bg-t1 {
        @include mixin.bg-int-color(
            $bg-color: theme-alt.pallete('color-t1')
        );
    };
    button.bg-c {
        @include mixin.bg-int-color(
            $bg-color: theme-alt.pallete('color-c')
        );
    };
    button.bg-t2 {
        @include mixin.bg-int-color(
            $bg-color: theme-alt.pallete('color-t2')
        );
    };
};