@use 'sass:color';
@use '_ui.scss';
@use '_mixin.scss';
@use '_break-point.scss';

#highlight {
    .container {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
        pkt-tag {
            h1 {
                line-height: 1;
                margin: 0.5rem;
            }
        }
        h2 {
            @media #{break-point.$sm} {
                font-size: 1.3em;
            }
        }
        a.button {
            margin: 0.5rem;
        }
        a[el="github"] {
            @include ui.button($bg-color: color.adjust(white, $lightness: -10%));
        }
    }
}

.markdown {
    h2 {
        border-bottom: 1px solid;
        margin-top: 2rem;
    }
}

#sample {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    pkt-card {
        background-color: #f2f2f2
    }
    table {
        max-width: 280px;
        width: 280px;
        tr {
            background-color: #f2f2f2;
        }
        td {
            text-align: center;
        }
    }
}

#features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #eee;
    padding: 2rem 0rem 5rem 0;
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        h2 {
            border-bottom: 1px solid;
            text-align: center;
            display: inline-flex;
        }
    }
    .row {
        display: flex;
        justify-content: center;
    }
    pkt-card {
        max-width: 600px;
        min-width: 280px;
        width: 90%;
        margin-top: 2rem;
        background-color: white;
        h3 {
            @include mixin.border-top-radius(4px);
            @include mixin.bg-color(color.adjust(black, $lightness: 10%))
        }
    }
}