{% extends '_base.html' %}
{% set to_root = './' %}
{% block head %}
<link rel="stylesheet" href="./index.css?v={{_v}}">
{% endblock %}

{% block body %}
<div id="highlight" class="bg-p">
    <div class="container">
        <pkt-tag class="bg-a1" style="padding: 0 0.5rem;">
            <h1>Packet UI</h1>
        </pkt-tag>
        <p class="row" style="font-size: 1.5rem;">
            <strong class="color-t2">HTML5</strong><br>
            <strong class="color-t2">User Interface Framework</strong>
        </p>
        <div>
            <a class="button bg-int-c" href="./guide/getting-started/quick-start.html">
                <pkt-icon set="adwaita" name="view-dual"></pkt-icon>
                <span style="margin-left: 0.2rem;">Guide</span>
            </a>
            <a class="button" el="github" href="https://github.com/nitipit/packet-ui">
                <pkt-icon set="brand" name="github"></pkt-icon>
                <span style="margin-left: 0.2rem;">Github</span>
            </a>
        </div>
    </div>
</div>

<div id="features" class="container">
    {{ markdown('index.html.features.md') }}
</div>

<div class="container markdown">
    {{ markdown('index.html.setup.md') }}
</div>

<div id="features">
    <div class="container">
        <h2>Features</h2>
        <div class="row">
            <pkt-card>
                <h3>&lt;Web Components/&gt;</h3>
                <p>
                    UI Components are based on
                    <a href="https://webcomponents.org"><strong>Web Components</strong></a>
                    standards which works across modern browsers, and can be used
                    with any JavaScript libraries or frameworks.

                </p>
            </pkt-card>
        </div>
        <div class="row">
            <pkt-card>
                <h3>CSS Framework (SASS)</h3>
                <p>
                    <strong>"From design to code"</strong> Packet UI provides CSS Framework (SASS) which contains variables
                    and modules to customize the entire UI and Theme.
                </p>
            </pkt-card>
        </div>
    </div>
</div>

<div data-id="footer" style="margin-top: 10rem; height: 2rem;"></div>
{% endblock %}
