@use '../../../theme';
@use '../../../ui';

#preview {
    > div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .pkt-box-arrow {
        padding: 0.5rem;
        margin: 0.5rem;
        &.top {
            @include ui.box-arrow(
                $arrow: top,
                $bg-color: theme.pallete(color-a1)
            );
        };
        &.right {
            @include ui.box-arrow(
                $arrow: right,
                $bg-color: theme.pallete(color-p)
            );
        };
        &.bottom {
            @include ui.box-arrow(
                $arrow: bottom,
                $bg-color: theme.pallete(color-a2)
            );
        }
        &.left {
            @include ui.box-arrow(
                $arrow: left,
                $bg-color: theme.pallete(color-t1)
            );
        }
    }
    p.pkt-box-arrow.top {
        padding: 1rem;
        margin: 0.5rem;
        margin-top: 2rem;
        @include ui.box-arrow(
            $arrow: top,
            $bg-color: white,
            $arrow-size: 20px)
    }
}