@use 'sass:map';
@use '../_var';
@use '../mixin';

#sidebar-button {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    font-size: 1.25rem;
    z-index: 100;
}

pkt-sidebar {
    [el="sidebar"] {
        width: 260px;
    }
    [el="title"] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            width: 100%;
            text-decoration: none;

        }
        pkt-button-square {
            font-size: 1.5rem;
            border-radius: 0;
            @include mixin.bg-int-color(map.get(var.$scheme, color-c));
        }
    }
    [el="content"] {
        padding-left: 0.5rem;
        padding-bottom: 5rem;
        .h {
            font-size: 1.25rem;
            font-weight: bold;
            margin-top: 1rem;
        }

        a {
            display: block;
            width: 100%;
            padding: 0.2rem 0.5rem;
            text-decoration: none;
            &:hover {
                background-color: red;
            }
        }
    }
}