@use '../../../ui-mixin';
@use '../../../theme';

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
}

.color-p {
    @include ui-mixin.checkbox($color-active: theme.pallete(p));
}
.color-p1 {
    @include ui-mixin.checkbox($color-active: theme.pallete(p1));
}
.color-p2 {
    @include ui-mixin.checkbox($color-active: theme.pallete(p2));
}
.color-c {
    @include ui-mixin.checkbox($color-active: theme.pallete(c));
}
.color-c1 {
    @include ui-mixin.checkbox($color-active: theme.pallete(c1));
}
.color-c2 {
    @include ui-mixin.checkbox($color-active: theme.pallete(c2));
}

.size-1 {
    font-size: 1rem;
}
.size-2 {
    font-size: 2rem;
}
.size-3 {
    font-size: 3rem;
}
.size-4 {
    font-size: 4rem;
}
