@use '../../../theme';
@use '../../../ui';

div[data-id="preview"] {
    display: flex;
    justify-content: center;
    align-items: center;
    pkt-switch {
        margin: 0.5rem
    }
    pkt-switch.color-p {
        @include ui.switch(theme.pallete(color-p));
    }
    pkt-switch.color-a2 {
        @include ui.switch(theme.pallete(color-a2));
    }
}