@use 'sass:map';
@use '../../_theme-default.scss';
@use '../../_mixin.scss';

$-ui: theme-default.$ui !default;

@mixin badge(
        $bg-color: map.get($-ui, ui-color),
    ) {
    @include mixin.bg-color($bg-color);
    font-family: map.get($-ui, font-family);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    border-radius: 20em;
    padding: 0.2em;
    min-width: 1.6em;
    min-height: 1.6em;
    line-height: 1;
}