@use "sass:color";
@use "sass:map";
@use '_mixin.scss';

$color: null !default;
$pallete: null !default;
$ui: null !default;

@function clr($name) {
    @return map.get($color, $name);
};

@function pallete($name){
    @return map.get($pallete, $name);
};

.red {
    color: clr(red);
};
.pink {
    color: clr(pink);
}
.purple {
    color: clr(purple);
}
.deep-purple {
    color: clr(deep-purple);
}
.indigo {
    color: clr(indigo);
}
.blue {
    color: clr(blue);
}
.light-blue {
    color: clr(light-blue);
}
.cyan {
    color: clr(cyan);
}
.teal {
    color: clr(teal);
}
.green {
    color: clr(green);
}
.light-green {
    color: clr(light-green);
}
.lime {
    color: clr(lime);
}
.yellow {
    color: clr(yellow);
}
.amber {
    color: clr(amber);
}
.orange {
    color: clr(orange);
}
.deep-orange {
    color: clr(deep-orange);
}
.brown {
    color: clr(brown);
}
.grey, .gray {
    color: clr(grey);
}
.blue-grey, .blue-gray {
    color: clr(blue-grey);
}

.bg-red {
    @include mixin.bg-color(clr(red));
}
.bg-pink {
    @include mixin.bg-color(clr(pink));
}
.bg-purple {
    @include mixin.bg-color(clr(purple));
}
.bg-deep-purple {
    @include mixin.bg-color(clr(deep-purple));
}
.bg-indigo {
    @include mixin.bg-color(clr(indigo));
}
.bg-blue {
    @include mixin.bg-color(clr(blue));
}
.bg-light-blue {
    @include mixin.bg-color(clr(light-blue));
}
.bg-cyan {
    @include mixin.bg-color(clr(cyan));
}
.bg-teal {
    @include mixin.bg-color(clr(teal));
}
.bg-green {
    @include mixin.bg-color(clr(green));
}
.bg-light-green {
    @include mixin.bg-color(clr(light-green));
}
.bg-lime {
    @include mixin.bg-color(clr(lime));
}
.bg-yellow {
    @include mixin.bg-color(clr(yellow));
}
.bg-amber {
    @include mixin.bg-color(clr(amber));
}
.bg-orange {
    @include mixin.bg-color(clr(orange));
}
.bg-deep-orange {
    @include mixin.bg-color(clr(deep-orange));
}
.bg-brown {
    @include mixin.bg-color(clr(brown));
}
.bg-grey, .bg-gray {
    @include mixin.bg-color(clr(grey));
}
.bg-blue-grey, .bg-blue-gray {
    @include mixin.bg-color(clr(blue-grey));
}

.bg-int-red {
    @include mixin.bg-int-color(clr(red));
}
.bg-int-pink {
    @include mixin.bg-int-color(clr(pink));
}
.bg-int-purple {
    @include mixin.bg-int-color(clr(purple));
}
.bg-int-deep-purple {
    @include mixin.bg-int-color(clr(deep-purple));
}
.bg-int-indigo {
    @include mixin.bg-int-color(clr(indigo));
}
.bg-int-blue {
    @include mixin.bg-int-color(clr(blue));
}
.bg-int-light-blue {
    @include mixin.bg-int-color(clr(light-blue));
}
.bg-int-cyan {
    @include mixin.bg-int-color(clr(cyan));
}
.bg-int-teal {
    @include mixin.bg-int-color(clr(teal));
}
.bg-int-green {
    @include mixin.bg-int-color(clr(green));
}
.bg-int-light-green {
    @include mixin.bg-int-color(clr(light-green));
}
.bg-int-lime {
    @include mixin.bg-int-color(clr(lime));
}
.bg-int-yellow {
    @include mixin.bg-int-color(clr(yellow));
}
.bg-int-amber {
    @include mixin.bg-int-color(clr(amber));
}
.bg-int-orange {
    @include mixin.bg-int-color(clr(orange));
}
.bg-int-deep-orange {
    @include mixin.bg-int-color(clr(deep-orange));
}
.bg-int-brown {
    @include mixin.bg-int-color(clr(brown));
}
.bg-int-grey, .bg-int-gray {
    @include mixin.bg-int-color(clr(grey));
}
.bg-int-blue-grey, .bg-int-blue-gray {
    @include mixin.bg-int-color(clr(blue-grey));
}
.bg-int-white {
    @include mixin.bg-int-color(white);
}
.bg-int-black {
    @include mixin.bg-int-color(black);
}

.color-primary, .color-p {
    $color: pallete(color-p);
    color: $color;
    &.l1 {
        color: color.adjust($color, $lightness: 10%);
    }
    &.l2 {
        color: color.adjust($color, $lightness: 20%);
    }
    &.l3 {
        color: color.adjust($color, $lightness: 30%);
    }
    &.l4 {
        color: color.adjust($color, $lightness: 40%);
    }
    &.d1 {
        color: color.adjust($color, $lightness: -10%);
    }
    &.d2 {
        color: color.adjust($color, $lightness: -20%);
    }
    &.d3 {
        color: color.adjust($color, $lightness: -30%);
    }
    &.d4 {
        color: color.adjust($color, $lightness: -40%);
    }
}

.bg-primary, .bg-p {
    $color: pallete(color-p);
    @include mixin.bg-color($color);
    &.l1 {
        @include mixin.bg-color(color.adjust($color, $lightness: 10%));
    }
    &.l2 {
        @include mixin.bg-color(color.adjust($color, $lightness: 20%));
    }
    &.l3 {
        @include mixin.bg-color(color.adjust($color, $lightness: 30%));
    }
    &.l4 {
        @include mixin.bg-color(color.adjust($color, $lightness: 40%));
    }
    &.d1 {
        @include mixin.bg-color(color.adjust($color, $lightness: -10%));
    }
    &.d2 {
        @include mixin.bg-color(color.adjust($color, $lightness: -20%));
    }
    &.d3 {
        @include mixin.bg-color(color.adjust($color, $lightness: -30%));
    }
    &.d4 {
        @include mixin.bg-color(color.adjust($color, $lightness: -40%));
    }
}

.color-complement, .color-c {
    color: pallete(color-complement);
}
.color-primary-left, .color-p1 {
    color: pallete(color-primary-left);
}
.color-primary-right, .color-p2 {
    color: pallete(color-primary-right);
}
.color-complement-left, .color-c1 {
    color: pallete(color-complement-left);
}
.color-complement-right, .color-c2 {
    color: pallete(color-complement-right);
}

.bg-complement, .bg-c {
    @include mixin.bg-color(pallete(color-complement));
}
.bg-primary-left, .bg-p1 {
    @include mixin.bg-color(pallete(color-primary-left));
}
.bg-primary-right, .bg-p2 {
    @include mixin.bg-color(pallete(color-primary-right));
}
.bg-complement-left, .bg-c1 {
    @include mixin.bg-color(pallete(color-complement-left));
}
.bg-complement-right, .bg-c2 {
    @include mixin.bg-color(pallete(color-complement-right));
}

.bg-int-primary, .bg-int-p {
    @include mixin.bg-int-color(pallete(color-p));
}
.bg-int-complement, .bg-int-c {
    @include mixin.bg-int-color(pallete(color-complement));
}
.bg-int-primary-left, .bg-int-p1 {
    @include mixin.bg-int-color(pallete(color-primary-left));
}
.bg-int-primary-right, .bg-int-p2 {
    @include mixin.bg-int-color(pallete(color-primary-right));
}
.bg-int-complement-left, .bg-int-c1 {
    @include mixin.bg-int-color(pallete(color-complement-left));
}
.bg-int-complement-right, .bg-int-c2 {
    @include mixin.bg-int-color(pallete(color-complement-right));
}

.border-top-radius {
    @include mixin.border-top-radius($radius: map.get($ui, border-radius));
}
.border-right-radius {
    @include mixin.border-right-radius($radius: map.get($ui, border-radius));
}
.border-bottom-radius {
    @include mixin.border-bottom-radius($radius: map.get($ui, border-radius));
}
.border-left-radius {
    @include mixin.border-left-radius($radius: map.get($ui, border-radius));
}

.lift-1 {
    @include mixin.lift-1();
}
.lift-2 {
    @include mixin.lift-2();
}
.lift-3 {
    @include mixin.lift-3();
}
.lift-4 {
    @include mixin.lift-4();
}
.lift-5 {
    @include mixin.lift-5();
}