@use '_theme.scss';

@use 'typography.scss';

@use 'ui.scss' with (
    $-pallete: theme.$pallete,
    $-ui: theme.$ui,
);

@use 'class.scss' with (
    $-color: theme.$color,
    $-pallete: theme.$pallete,
    $-ui: theme.$ui,
);