@use '_theme.scss';

@use 'class.scss' with (
    $-color: theme.$color,
    $-pallete: theme.$pallete,
    $-ui: theme.$ui,
);

@use 'typography.scss' with (
    $-font-responsive: theme.$font-responsive,
    $-text-font-size: theme.$text-font-size,
    $-ui: () theme.$ui,
);

@use 'ui.scss' with (
    $-pallete: theme.$pallete,
    $-ui: theme.$ui,
);