@use 'sass:map';
@use '_mixin.scss';
@use '_theme.scss';
@use "ui/_mixin.scss" as ui-mixin;

$ui: theme.$ui !default;

$color: ui(color);
$pallete: ui(pallete);

$ui-color: map.get($ui, ui-color);
$font-family: map.get($ui, font-family);
$border-radius: map.get($ui, border-radius);

pkt-badge, .pkt-badge {
    @include ui-mixin.badge($bg-color: $ui-color);
}

pkt-box-arrow-top, .pkt-box-arrow-top {
    @include ui-mixin.box-arrow(
        $arrow: "top",
        $radius: $border-radius
    );
}

pkt-box-arrow-right, .pkt-box-arrow-right {
    @include ui-mixin.box-arrow(
        $arrow: "right",
        $radius: $border-radius
    );
}

pkt-box-arrow-bottom, .pkt-box-arrow-bottom {
    @include ui-mixin.box-arrow(
        $arrow: "bottom",
        $radius: $border-radius);
}

pkt-box-arrow-left, .pkt-box-arrow-left {
    @include ui-mixin.box-arrow(
        $arrow: "left",
        $radius: $border-radius);
}

button, .button, input[type="button"] {
    @include ui-mixin.button($bg-color: $ui-color);
}

pkt-button-pin, .pkt-button-pin {
    @include ui-mixin.button-pin($bg-color: $ui-color);
}

pkt-button-square, .pkt-button-square {
    @include ui-mixin.button-square($bg-color: $ui-color);
}

pkt-button-group, .pkt-button-group {
    @include ui-mixin.button-group($radius: $border-radius);
}

pkt-card, .pkt-card {
    @include ui-mixin.card($radius: $border-radius);
}

pkt-checkbox {
    @include ui-mixin.checkbox($color-active: $ui-color);
}

input {
    @include ui-mixin.input-text(
        $outline-color: $ui-color,
        $border-radius: $border-radius);
    &[type="text"], &[type="password"], &[type="email"] {
        @include ui-mixin.input-text(
            $outline-color: $ui-color,
            $border-radius: $border-radius);
    }
}

input[type="range"] {
    @include ui-mixin.slider($thumb-color-active: $ui-color);
}

pkt-input-number {
    @include ui-mixin.input-number($bg-color: $ui-color);
}

pkt-input-radio {
    @include ui-mixin.input-radio($color: $ui-color);
}

pkt-input-radio-btn, .pkt-input-radio-btn {
    @include ui-mixin.input-radio-btn($color: $ui-color);
}

pkt-input-tag {
    @include ui-mixin.input-tag();
}

label {
    @include mixin.font-ui();
}

pkt-menu > ul {
    @include ui-mixin.menu(
        $border-color: $ui-color,
        $active-color: $ui-color,
        $arrow-color: $ui-color);
}

ul.pkt-path {
    @include ui-mixin.path($color: $ui-color);
}

// progress
pkt-dotpulse {
    @include ui-mixin.dotpulse($color: $ui-color);
}

pkt-progress-bar {
    @include ui-mixin.progress-bar($color: $ui-color);
}

pkt-spinner {
    @include ui-mixin.spinner($color: $ui-color);
}
// end : progress

pkt-sidebar {
    @include ui-mixin.sidebar($bg-color: $ui-color);
}

pkt-switch {
    @include ui-mixin.switch($color-active: $ui-color);
}

pkt-tab, .pkt-tab {
    @include ui-mixin.tab($highlight-color: $ui-color);
}

table {
    @include ui-mixin.table(
        $bg-color: $ui-color,
        $border-radius: $border-radius
    );
}

pkt-tag, .pkt-tag {
    @include ui-mixin.tag(
        $bg-color: $ui-color,
        $radius: $border-radius);
}

pkt-tag-x {
    @include ui-mixin.tag(
        $bg-color: $ui-color,
        $radius: $border-radius);
    padding-right: 0.2em;
    pkt-icon {
        cursor: pointer;
    }
}