@use 'sass:map';
@use '../../_theme-default.scss';

$-ui: theme-default.$ui !default;

$-ui-color: map.get($-ui, ui-color);

@mixin path($color: $-ui-color) {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        display: inline;
    }
    li+li:before {
        content: "/ ";
    }

    li a {
        padding: 0 0.3em;
        cursor: pointer;
    }
    li a:hover {
        color: $color;
    }

    li.active a {
        color: $color;
    }
}